<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr Monster That Is Mad</title>
</head>
<body>
    <div id="app">
        <div>
            <h2>Player: {{ youLife }}</h2>
            <h2>Monster: {{ monsterLife }}</h2>
        </div>
        <div >
            <div v-if="seen">
                <button v-on:click="startGame">Start Game</button>
            </div>
            <div v-else>
                <button v-on:click="attackButton">Attack</button>
                <button v-on:click="specialAttackButton">Special Attack</button>
                <button v-on:click="healButton">Heal</button>
                <button v-on:click="giveUpButton">Give Up</button>
            </div>
        </div>
        <div>
            <h2 v-for="message in messages">{{message}}</h2>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>
</html>